{% extends "blog/prueba.html" %}
{% load static %}


{% block body %}
    <body>
    <div class="wrapper3">
        <div class="item8">
            <div class="box9">
                <h2>Analytics and Big Data</h2>
            </div>
            <div class="ABDOne">
                <h2>Elastic Data Warehouse</h2>
            </div>
            <div class="ABDTwo">
                <h2>Big Data Processing</h2>
            </div>
            <div class="ABDThree">
                <h2>Search</h2>
            </div>
            <div class="ABDFour">
                <h2>Machine Learning</h2>
            </div>
            <div class="ABDFive">
                <h2>Analytics</h2>
            </div>
            <div class="ABDSix">
                <h2>Visualisation</h2>
            </div>
            <div class="ABDSeven">
                <h2>Data Discovery</h2>
            </div>
            <div class="ABDEight">
                <h2>Data Orchestration</h2>
            </div>

        </div>
        <div class="item9">
            <div class="box10">
                <h2>Intelligence</h2>
            </div>
            <div class="YellowSpace">

            </div>
            <div class="INTOne">
                <h2>Conversational User <br>Interfaces & Personal Assistant</h2>
            </div>

            <div class="INTwo">
                <h2>Speech Recognition</h2>
            </div>
            <div class="INThree">
                <h2>Visual Recognition</h2>
            </div>
            <div class="INTFour">
                <h2>Text To Speech</h2>
            </div>


        </div>


        <div class="item10">
            <div class="box11">
                <h2>Gaming</h2>
            </div>
            <div class="GreenSpace">

            </div>
            <div class="GAMOne">
                <h2>Scalable Game Server</h2>
            </div>

            <div class="GAMTwo">
                <h2>Gaming services and LiveOps</h2>
            </div>
            <div class="GAMThree">
                <h2>Automated 3D Optimisation</h2>
            </div>

        </div>
    </div>
    <div class="wrapper4">
        <div class="item13">
            <div class="box14">
                <h2>Developer Tools </h2>
            </div>
            <div class="VioletSpace">

            </div>
            <div class="DTOne">
                <h2>Media Transcoding</h2>
            </div>
            <div class="DTwo">
                <h2>App Customer Payment Service</h2>
            </div>
            <div class="DTThree">
                <h2>API Management</h2>
            </div>
            <div class="DTFour">
                <h2>Workflow</h2>
            </div>
            <div class="DTFive">
                <h2>App Testing</h2>
            </div>
            <div class="DTSix">
                <h2>Messaging</h2>
            </div>
            <div class="DTSeven">
                <h2>Predefined Templates</h2>
            </div>
            <div class="DTEight">
                <h2>DevOps</h2>
            </div>
            <div class="DTNine">
                <h2>Programmin Acces</h2>
            </div>
            <div class="DTen">
                <h2>Backend Process Logic</h2>
            </div>
            <div class="DTEleven">
                <h2>Email</h2>
            </div>
        </div>
        <div class="item11">
            <div class="box12">
                <h2>Mobile Services</h2>
            </div>
            <div class="BlueSpace">

            </div>
            <div class="BlueSpace1">

            </div>

            <div class="MSOne">
                <h2>Pro App Development</h2>
            </div>
            <div class="MSTwo">
                <h2>App Testing</h2>
            </div>
            <div class="MSThree">
                <h2>Analytics</h2>
            </div>
            <div class="MSFour">
                <h2>Enterprise Mobility Management</h2>
            </div>
        </div>


        <div class="item12">
            <div class="box13">
                <h2>Entreprise Integration</h2>
            </div>
            <div class="YellowSpace1">

            </div>
            <div class="EIOne">
                <h2>Entreprise Applicatioon Services</h2>
            </div>
            <div class="EITwo">
                <h2>Commercial PaaS-IaaS-DBaaS Framework</h2>
            </div>
            <div class="EIThree">
                <h2>Enterprise App Integration</h2>
            </div>
            <div class="EIFour">
                <h2>Content Management into the Cloud</h2>
            </div>

        </div>
        <div class="item14">
            <div class="box15">
                <h2>Internet of Things</h2>
            </div>
            <div class="PurpleSpace">

            </div>
            <div class="IOTOne">
                <h2>Internet of Things</h2>
            </div>
            <div class="IOTwo">
                <h2>Streaming Data</h2>
            </div>
            <div class="IOThree">
                <h2>Edge Compute for loT</h2>
            </div>

        </div>
    </div>
    </body>
{% endblock %}
</html>

